<div fxLayout="row" fxLayout.lt-md="column" style="width: 100vw; height: 100vh;"> 
    <div class="firstDiv" fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
        <div fxLayout="row" class="accountContainer">
            <p>Have an account</p>
            <a href="">Sign In</a>
        </div>
        <div fxLayout="column" class="signContainer">
            <h1 style="font-weight: bold;">Welcome to AOT</h1>
            <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </P>
            <div fxLayout="column" class="formContainer">
                <div fxLayout="column">
                    <label for="email">E-mail</label>
                    <input type="email" for="email">
                </div>
                <div fxLayout="column">
                    <label for="password">password</label>
                    <input type="password" for="password">
                </div>
                <button> Create an account</button>
            </div>
            <div class="divider">
                <p>Or sign up with</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between none" class="iconContainer">
                <div class="iconBox">
                    <img width="30" height="30" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo"/>
                </div>
                <div class="iconBox">
                    <img width="30" height="30" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/>
                </div>
                <div class="iconBox">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/mac-os.png" alt="mac-os"/>
                </div>
            </div>
        </div>
    </div>
    <div class="secondDiv" fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center"> 
        <div fxLayout="column" class="accountContainer">
            <img src="" alt="">
            <h1 class="header" style="font-size: 85px;"> Make a Dream.</h1>
            <div class="contentContainer">
                <p style="font-size: 14px;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
                <div fxLayout="row" class="designerContainer">
                    <img src="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="" class="profile">
                    <div fxLayout="column" class="name">
                        <p>Waleed Lozano</p>
                        <p style="font-size: 14px;"> Product Designer</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
